:root {
  --color-1: hsl(260, 100%, 95%);
  --color-2: hsl(264, 82%, 80%);
  --color-3: hsl(263, 55%, 52%);
  --color-4: hsl(0, 0%, 100%);
  --color-5: hsl(214, 17%, 92%);
  --color-6: hsl(0, 0%, 81%);
  --color-7: hsl(224, 10%, 45%);
  --color-8: hsl(217, 19%, 35%);
  --color-9: hsl(219, 29%, 14%);
  --color-10: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 15em;
  padding: 2em;
  color: var(--color-4);
  background-color: var(--color-10);
  margin: 1em;
  border-radius: 0.5em;

  h2 {
    font-size: 1.25em;
    margin: 1em 0em;
    font-weight: 500;
  }
  p {
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0em 1em 0em 0em;
  }
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  img {
    width: 2em;
    height: 2em;
    border-radius: 50em;
  }

  .verified {
    font-size: 0.5em;
    font-weight: 400;
  }
}

.one {
  background-color: var(--color-3);
  color: var(--color-4);
  /* box-shadow: rgba(0, 0, 0, 0.2) 30px 30px 90px; */
  img {
    border: 2px solid var(--color-2);
  }
}

.two {
  background-color: var(--color-8);
  color: var(--color-4);
  box-shadow: rgba(0, 0, 0, 0.4) 15px 60px 240px;
}

.three {
  box-shadow: rgba(0, 0, 0, 0.4) 15px 60px 240px;
}

.four {
  box-shadow: rgba(0, 0, 0, 0.4) 15px 60px 240px;
  background-color: var(--color-9);
}

.five {
  box-shadow: rgba(0, 0, 0, 0.4) 15px 60px 240px;
}

.three,
.five {
  background-color: var(--color-4);
  color: var(--color-8);
}

footer {
  margin-top: 1em;
  color: var(--color-9);
  a {
    text-decoration: none;
    color: var(--color-9);
  }
}

@media screen and (min-width: 1440px) {
  article {
    margin-top: 1em;
    width: 102em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 17em;
    margin: 0.75em;
  }

  img {
    width: 3em;
  }

  .up {
    display: flex;

    .one {
      width: 34em;
      background-image: url(./images/bg-pattern-quotation.svg);
      background-repeat: no-repeat;
      background-size: 7em;
      background-position: 23em 0em;
    }
  }

  .down {
    display: flex;

    .four {
      width: 34em;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .five {
    height: 37.5em;
  }
}
